[submodule "lib/pico-sdk"]
  path = lib/pico-sdk
  url = https://github.com/raspberrypi/pico-sdk.git
  branch = 2.0.0
  shallow = true

[submodule "lib/freertos"]
  path = lib/freertos
  url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
  branch = V11.1.0
  shallow = true

[submodule "lib/unity"]
  path = lib/unity
  url = https://github.com/ThrowTheSwitch/Unity.git

